.Contact {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3rem auto;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.location {
  width: 900px;
  height: 610px;
  background: black;
  margin: 1rem;
  padding: 1.5rem;
}

.address {
  font-size: 2rem;
  font-weight: 400;
  padding: 1.5rem;
}

.container {
  margin-top: 6rem;
  text-align: center;
  width: 600px;
  border: 2px solid rgb(255, 251, 251);
  padding: 2rem;
}
.contact-form {
  max-width: 70rem;
  margin: auto;
}
.contact-inputs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
input[type="submit"] {
  cursor: pointer;
  transition: all 0.2s;
}

input {
  background-color: azure;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}

textarea {
  background-color: azure;
  text-align: left;
  padding: 1rem;
}
.links {
  width: 100vw;
  margin-top: 3rem;
}

.link {
  padding: 1rem;
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 1040px) {
  .location {
    width: 200px;
    height: 410px;
  }

  .address {
    font-size: 1.5rem;
  }

  .link {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 960px) {
  .title {
    font-size: 2rem;
  }

  .location {
    width: 420px;
    height: 565px;
  }

  .address {
    font-size: 1.2rem;
  }

  .container {
    margin-top: 3rem;
    text-align: center;
    width: 420px;
    border: 2px solid rgb(255, 251, 251);
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .location {
    width: 300px;
    height: 580px;
  }

  .address {
    font-size: 1rem;
  }

  .container {
    margin-top: 3rem;
    text-align: center;
    width: 300px;
    border: 2px solid rgb(255, 251, 251);
    padding: 2rem;
  }

  input {
    font-size: 10px;
    padding: 0.5rem;
  }

  .link {
    height: 80px;
    width: 80px;
  }
}
